html, body {
    height: 100%;
}

body {
    background-color: #212121;
}

body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
    background: url('../img/bg.jpg');
    background-size: cover;
    opacity: 0.2;
}

h1.logo {
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
	font-size: 144px;
	color: #FAFAFA;
	margin: 0;
	padding: 30px;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 54px;
	color: #FAFAFA;
	margin: 0;
	padding: 30px 0 20px 0;
	line-height: 64px;
}

i.down-arrow {
	font-size: 64px;
	color: #FAFAFA;
}

i.down-arrow:hover {
	color: #BDBDBD;
}