html, body {
    height: 100%;
}

body {
    background-color: #FBFBFB;
}

/*--------------
	Navigation
----------------*/

nav {
	background-color: #212121;
	padding: 0 10px;
}

nav .brand-logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

nav .nav-wrapper i {
	display: inline-block;
	padding-right: 5px;
	vertical-align: top;
}

ul.side-nav li.home:hover {
  background-color: inherit;
}

ul.side-nav li.home {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 24px;
}

ul.side-nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

nav ul a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

/*--------------
	Google Maps
----------------*/

#map_canvas, div#map-wrapper {
	height: calc(100vh - 64px);
	margin: 0;
}

#gmaps-input,
#timepicker {
	background-color: #fff;
	margin: 10px;
	padding-left: 10px;
	border-radius: 3px;
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
}

#gmaps-input { width: 350px; }

#timepicker {
	width: 100px;
	z-index: 1;
	position: fixed;
	top: 64px;
	left: 800px;
}

p.gmaps-name {
	font-size: 18px;
	padding: 5px;
	margin: 0;
}

/*--------------
	Sidebar
----------------*/

#sidebar {
	background-color: #eee;
	height: 100%;
	border-right: 5px solid #212121;
	padding: 20px;
	font-size: 24px;
}