html, body {
    height: 100%;
}

body {
    background-color: #FBFBFB;
}

/*--------------
	Navigation
----------------*/

nav {
	background-color: #212121;
	padding: 0 10px;
}

nav .brand-logo {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

nav .nav-wrapper i {
	display: inline-block;
	padding-right: 5px;
	vertical-align: top;
}

nav li a.mapOption {
	cursor: pointer;
}

nav li button {
	padding: 0!important;
	text-transform: none!important;
	margin-right: 10px;
}

nav li button.clicked {
	box-shadow: inset 1px 0 40px #212121!important;
}

ul li.active {
	background-color: #2BBBAD!important;
	box-shadow: inset 1px 0 10px #212121;
}

ul.side-nav li.home:hover {
  background-color: inherit;
}

ul.side-nav li.home {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #000;
	font-size: 24px;
}

ul.side-nav a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

nav ul a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.2rem;
}

/*--------------
	Google Maps
----------------*/

#map_canvas, div#map-wrapper {
	height: calc(100vh - 64px);
	margin: 0;
}

p.gmaps-name {
	font-size: 18px;
	padding: 5px;
	margin: 0;
}

/*--------------
	Form
----------------*/

label {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

input {
	font-family: 'Roboto', sans-serif;
}

/*--------------
	Sidebar
----------------*/

#sidebar {
	background-color: #eee;
	height: 100%;
	border-right: 5px solid #212121;
	overflow-y: scroll;
}

#sidebar p {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding: 10px 10px 0 10px;
}

#sidebar p.prediction-title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	border-bottom: 2px solid #212121;
	padding: 10px 10px 0 0;
	display: block;
}

#sidebar p.prediction-description {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding: 10px 10px 0 10px;
}

#sidebar #error {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border: 1px solid #212121;
	padding: 10px;
	display: none;
}

#submit-wrapper {
	margin-top: 30px;
}

a#submitBtn {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/*--------------
	Scrollbar
----------------*/

::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}

::-webkit-scrollbar-track-piece {
	background-color: #eee;
}

::-webkit-scrollbar-thumb:vertical {
	height: 5px;
	background-color: #adadad;
	box-shadow: inset 1px 0 4px #999;
}

::-webkit-scrollbar-thumb:horizontal {
	width: 5px;
	background-color: #adadad;
	box-shadow: inset 1px 0 4px #999;
}