<nav>
  <div class="nav-wrapper">
    <a href="{{ url_for('index') }}" class="brand-logo"><i class="mdi-action-dashboard"></i>CoREdash</a>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <!--<li><a href="{{ url_for('login') }}">Login</a></li>-->
    </ul>
    <ul id="slide-out" class="side-nav">
      <li class="home center-align"><i class="mdi-action-dashboard"></i> Cryme</li>
      <!--<li><a href="{{ url_for('login') }}">Login</a></li>-->
    </ul>
  </div>
</nav>