<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryme</title>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places,visualization"></script>
    <script type="text/javascript" src="http://square.github.io/crossfilter/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery.timepicker.js') }}"></script>
  </head>
  <body>
    {% include 'includes/nav.html' %}
    <div id="map-wrapper" class="row">
      <div id="sidebar" class="col s3">
        {% if prediction %}
          <p class="prediction-title">{{ prediction }}</p>
          <p class="prediction-description">If a crime were to occur to you, there would be a <strong>{{ probability }}%</strong> probability, our prediction analysis shows that there is a  of  for <strong>{{ prediction }}</strong> at <i>{{ addr }}</i>.<br /><br />Regardless of the prediction above, always exercise caution, especially late at night.</p>
        {% else %}
          <p>Type in your address or click on the map to begin.</p>
          <form id="locationForm" class="col s12" action="/predict" method="post">
            <div class="row">
              <div id="error"></div>
              <br />
              <div class="input-field col s12">
                <input id="MapLat" class="controls validate" name="MapLat" type="text" placeholder="Latitude" required>
                <label for="MapLat">Your Latitude</label>
              </div>
              <div class="input-field col s12">
                <input id="MapLon" class="controls validate" name="MapLon" type="text" placeholder="Longitude" required>
                <label for="MapLon">Your Longitude</label>
              </div>
              <div class="input-field col s12">
                <input id="gmaps-input" class="controls validate" name="gmaps-input" type="text" placeholder="Address" required>
                <label for="gmaps-input">Your Address</label>
              </div>
              <div class="input-field col s12">
                <input id="timepicker" class="timepicker controls validate" name="timepicker" type="text" placeholder="Time of Day" required>
                <label for="timepicker">Time of Day</label>
              </div>
              <div id="submit-wrapper" class="col s12 center-align">
                <button id="submitBtn" class="waves-effect waves-light btn" type="submit"><i class="mdi-maps-place right"></i>Submit</button>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
      <div id="map_canvas" class="col s9"></div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/gmaps.js') }}"></script>
    {% if prediction %}
    <script>
      var position = new google.maps.LatLng({{ lat }}, {{ lng }});
      geocoder.geocode({ 'latLng': position }, function (results, status) {
        codeLatLng(results[0].formatted_address, position, true);
        map.setZoom(17);
        map.panTo(position);
      });
    </script>
    {% endif %}
    <script>
      $(document).ready(function() {
        $('.button-collapse').sideNav();
        $('input.timepicker').timepicker({
          timeFormat: 'H:m'
        });
      });

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
        $("#toggleHeatmap").toggleClass("clicked");
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
        $("#changeGradient").toggleClass("clicked");
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
        $("#changeRadius").toggleClass("clicked");
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
        $("#changeOpacity").toggleClass("clicked");
      }
    </script>
  </body>
</html>
