<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryme</title>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>
    <script type="text/javascript" src="http://square.github.io/crossfilter/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/vendor/jquery.timepicker.js') }}"></script>
  </head>
  <body>
    {% include 'includes/nav.html' %}
    <input id="gmaps-input" class="controls" type="text" placeholder="Search Box">
    <input id="timepicker" class="timepicker controls" type="text" placeholder="Time of Day">
    <div id="map-wrapper" class="row">
      <div id="sidebar" class="col s3">
        Type in your address on the map to calculate your probability of danger.
      </div>
      <div id="map_canvas" class="col s9"></div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/gmaps.js') }}"></script>
    <script>
      $(document).ready(function() {
        $('.button-collapse').sideNav();
        $('input.timepicker').timepicker({});
      });
    </script>
  </body>
</html>
