<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryme</title>
    {% include 'includes/head.html' %}
  </head>
  <body>
    {% include 'includes/nav.html' %}

    <div class="container">
      <div class="row">
        <div class="col s12 left-align">
          <h1>Hello world!</h1>
          <h2>I am a Python 3 Flask app.</h2>
          <h3>How do you do?</h3>
          <h4>The font is Roboto, in case you were wondering.</h4>
          <h5>I was made at Bitcamp 2015...</h5>
          <h6>...in case you were wondering about that too.</h6>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('.button-collapse').sideNav();
      });
    </script>
  </body>
</html>
