<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cryme</title>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/splash.css') }}" />
    <link href="http://fonts.googleapis.com/css?family=Exo+2:100" rel="stylesheet" type="text/css">
  </head>
  <body class="valign-wrapper">
    <div class="container valign center-align">
      <div class="row">
        <div class="col s12">
          <h1 class="logo">Cryme</h1>
          <a href="{{ url_for('dashboard') }}"><i class="mdi-navigation-arrow-drop-down-circle down-arrow"></i></a>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        $('.button-collapse').sideNav();
      });
    </script>
  </body>
</html>
